<!-- <h1>{{species?.name}}</h1> -->
<!-- <img [src]="species?.imageUrls[0]" /> -->
<!-- <div class="img" [style.background-image]="'url(' + species?.imageUrl + ')'"></div> -->

<img [src]="species?.imageUrl" />

<div class="bio" *ngIf="side === Side.BIO">
  <h1>{{species?.name}}</h1>
</div>

<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img [src]="species?.imageUrl" />
      <!-- <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>{{species?.name}}</h1>
    </div>
  </div>
</div> -->